{
  "extends": "../.eslintrc",
  "env": {
    "mocha": true
  },
  "globals": {
    "beforeAll": false,
    "page": false,
    "expect": false,
    "puppeteer": false,
    "console": false
  },
  "rules": {
    "no-console": "off"
  }
}
